.signup-container {
  .signup-header {
    color: #0d2366;
    font-weight: bold;
    font-size: 24px;
  }
  .input-field-group {
    text-align: left;

    .input-label {
      font-weight: 500;
    }
  }
  .signup-button {
    width: 100%;
    border: none;
    background-color: #1b7cf8;
    color: whitesmoke;
    font-weight: bold;
  }
  .feedback-text {
    font-size: 12px;
    text-align: left;
    color: red;
  }
  .form-feedback {
    text-align: center;
    color: red;
    font-size: 16px;
  }
}
